/* Make workspace switcher buttons narrower like they used to be */
#xfce-panel-toggle-button { min-width: 8px; }


/* Blink suggested-action window buttons forever */
@keyframes blink {
    0%   { background: inherit; }
    100% { background: blue; }
}
.xfce4-panel button.suggested-action {
    animation: blink 500ms infinite alternate linear;
}
